%table
  %thead
    %tr
      %th Date
      -if (full)
        %th Plan
      %th User
      %th Action
      %th Status
      -if (full)
        %th Log
  %tbody
    -if queue.count > 0
      =render :partial=>'/admin/repositories/log_entry', :collection=> queue, :locals=>{:full=>full}
